* {
  overflow: hidden;
}

.header-image {
  background-image: url('../images/Admin-homepage-header.png');
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #bcead5;
  position: fixed;
}
.container-content-admin {
  padding-left: 250px;
  padding-top: 140px;
  border: black;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.search-bar-admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 95%;
}
/* 
  Element Search di Pinjam dan Update buku
*/
.search-bar-admin form {
  display: flex;
  height: 40px;
  margin-bottom: 10px;
  padding-right: 20px;
}
.search-bar-admin form input {
  width: 100%;
  padding: 10px;
}
.search-bar-admin form .search-icon .search-button {
  padding: 10px;
  background-color: #8ec3b0;
  width: 50px;
  text-align: center;
  height: auto;
  margin: 0;
}
.search-bar-admin .search-icon .search-button:hover {
  background-color: #5c8777;
  cursor: pointer;
}

.container-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
}

.persegiPanjang {
  background-color: #9ed5c5;
  width: 95%;
  height: 158px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.coverBox {
  width: 400px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 50%;
  height: 150px;
  background-color: #d9d9d9;
  background-size: cover;
}

table {
  border-collapse: collapse;
}
.stok {
  padding: 20px;
}
.stok table {
  width: 100%;
}
.judul {
  width: 100px;
  text-align: center;
  background-color: #c9dbb2;
}

.isi {
  width: 244px;
  background-color: #e3f2c1;
}

.baris1,
.baris2,
.baris3 {
  height: 40px;
}

.profile {
  width: 50%;
  height: 180px;
  background: #d9d9d9;
  border-radius: 10px;
}
/* .kolom {
  gap: 20px;
} */
.baris {
  display: flex;
  flex-direction: column;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  /* padding: 10px 20px; */
}

.row1 td {
  padding-right: 10px;
  padding-left: 10px;
}
.row1 .hijauMuda {
  width: 100px;
}
.hijauTua {
  background-color: #c9dbb2;
}

.hijauMuda {
  background-color: #e3f2c1;
}

.row2 {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.row2 td {
  padding-right: 10px;
  padding-left: 10px;
}
.row2 .hijauMuda {
  width: 100px;
}

textarea {
  background-color: #e3f2c1;
  resize: horizontal;
  width: 200px;
  max-width: 300px;
}

.tableBawah {
  height: 5px;
  font-size: 15px;
  background-color: #e3f2c1;
  text-align: center;
}

#hijauTua {
  background-color: #c9dbb2;
}

.done button {
  width: 100px;
  height: 50px;
  background: #8ec3b0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.done button:hover {
  background: #6e9788;
  cursor: pointer;
}

.reject button {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  background: #c38e8e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reject button:hover {
  background: #956b6b;
  cursor: pointer;
}

h3 {
  font-weight: bold;
}

.bawah {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 931px;
  height: auto;
  /* bottom: 0;
  position: fixed; */
}

.bulet {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: aquamarine;
}
.halaman {
  margin: 20px;
}
.bulet:hover {
  background-color: rgb(9, 161, 111);
}

.arrow {
  width: 50px;
}
