body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e8e4;
  margin: 0;
  padding: 0;
  background-image: url('../images/Background-SignInSignUp.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.Container1 {
  display: flex;
}

.Container1_a {
  display: block;
}

.mainbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: rgba(142, 195, 176, 0.7);
}

.mainbar input[type='image'] {
  width: 140px;
  height: 140px;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  border: none;
  outline: none;
  background-color: transparent;
}

.mainbar img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
}

.Cover_Buku img {
  width: 180px;
  height: 210px;
  margin-top: 10px;
  margin-left: 120px;
}

.Detail_Buku1 {
  background-color: #aac8a7;
  border: 4px solid black;
  width: 319px;
  height: 190px;
  border-radius: 20px;
  margin-left: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DB1_Isi {
  margin-top: 6px;
  background-color: #bcead5;
  width: 279px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DB1_Isi p {
  color: #2d2f3f;
  font-size: 1vw; 
  text-align: center;
  font-weight: bold;
}

.Detail_buku2 {
  margin-top: 10px;
  margin-left: 4%;
  background-color: #bcead5;
  border: 4px solid black;
  width: 900px;
  height: 525px;
  border-radius: 20px;
}

.Detail_buku2 h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #2d2f3f;
}

.Detail_buku2 p:first-of-type {
  text-align: center;
  font-size: 18;
  font-weight: bold;
  color: #2d2f3f;
}
.Detail_buku2 p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  font-size: 17px;
  color: #2d2f3f;
}

.Submit {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.Submit p {
  text-align: center;
  font-size: 15px;
}

.Submit_Button2 input {
  background-color: #2d2f3f;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-right: 200px;
}

.Submit_Button1 input {
  background-color: #2d2f3f;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-left: 200px;
}

.Submit p {
  text-align: center;
  font-size: 15px;
}

.Submit_Button2 input {
  background-color: #2d2f3f;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-right: 200px;
}

.Submit_Button1 input {
  background-color: #2d2f3f;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-left: 200px;
}
