:root {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Open Sans', sans-serif;
}

/* bla bla */
body {
  padding: 10;
  margin: 0;
  height: 100vh;
  background-image: url('../images/Background-SignInSignUp.jpg');
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.navbar-main {
  margin: 0;
  padding: 0;
  background-color: rgba(142, 195, 176, 0.7);
}

a:hover {
  color: orange;
}

header {
  /* background-color: #8EC3B0; */
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.1;
  color: black;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

::selection {
  color: #fff;
  background: #8ec3b0;
}

.search-box {
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  margin: auto;
  padding-top: 20px;
  width: 1000px;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
  opacity: 1;
}

.search-box input::placeholder {
  color: #8ec3b0;
}

.search-box .search-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #8ec3b0;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-icon.active {
  right: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  font-size: 20px;
  background: #8ec3b0;
  color: #fff;
  transform: translateY(-30%) rotate(360deg);
}

.search-box .cancel-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #8ec3b0;
  cursor: pointer;
  transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-icon.active {
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}

.search-box .search-data{
    padding-top: 40px;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 40px;
    color: black;
    font-size: 18px;
    word-wrap: break-word;
}
.search-data.active {
  display: none;
}

.search-data {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding-top: 40px;
  color: black;
  font-size: 18px;
  word-wrap: break-word;
}


/* side way scrolling */
.rekomendasi {
  display: block;
  position: relative;
  margin: 20px;
}

/* Container luar untuk susunan item */
.container-side {
  display: flex;
  overflow-x: auto;
  padding: 30px;
  width: 85%;
  height: 300px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  border-radius: 8px;
  gap: 12px;
  margin: 2rem auto;
  overflow: hidden;
  scroll-behavior: smooth;
}

/* Susunan Item */
.items-container {
  display: flex;
  padding: 24px;
  gap: 12px;
  scroll-snap-type: x mandatory;
  scroll-padding: 24px;
  white-space: nowrap;
}

/* Isi Itemnya */
.item {
  background-color: #8ec3b0;
  flex: 0 0 auto;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
  width: 150px;
  word-wrap: break-word;
}

/* Button buat mencet kana dan kiri */
.scroll-button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #8ec3b0;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 0;
}

.next-button {
  position: absolute;
  right: 0;
  top: 50%;
}
/* ------------------------- */

/* Footer */
footer{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #8EC3B0, #43b490);
    opacity: 80%;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
/* ------ */


@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
