body {
  width: 100%;
  height: 1024px;
  margin: 0px;
  padding: 0px;
  background: #bcead5;
  position: fixed;
  display: flex;
  justify-content: center;
}

.header-image{
  background-image: url('../images/Admin-homepage-header.png');
}


.header-image .container-image h1 {
  text-align: center;
  text-shadow: black;
  font-weight: bold;
  margin-left: 50px;
}

.container-content-admin {
  padding-left: 250px;
  padding-top: 140px;
  border: black;
  padding-right: 40px;
}

.table-list-user{
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.search-userID {
  background-color: #8ec3b0;
  height: 50px;
  align-items: center;
  padding: 5px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-userID p {
  padding-left: 10px;
  font-size: larger;
  font-weight: bold;
}
.search-userID form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search-userID form input {
  border-radius: 10px;
  width: 260px;
  height: 30px;
  border-color: white;
  margin-right: 18px;
  margin-left: 10px;
  padding: 3px;
}
.search-userID-icon {
  font-size: 30px;
  color: #000000;
  margin: 10px;
}

#button-searchID {
  background-color: #70a290;
  width: 100px;
  border-radius: 10px;
  height: 30px;
  border-color: black;
  margin: 10px;
  padding: 0px;
  font-size: small;
}
#button-searchID:hover {
  background-color: #5b8576;
  cursor: pointer;
}
#table-user {
  border-spacing: 0px;
  height: 40px;
  width: 100%;
}
#table-user th {
  border: 2px solid #000000;
  overflow-x: auto;
  background-color: #c9dbb2;
  padding: 10px;
}

#table-user td {
  border: 2px solid #000000;
  overflow-x: auto;
  background-color: #e3f2c1;
  text-align: center;
}

#table-user #button-aksi-edit {
  background-color: #8ec3b0;
  color: white;
  margin: 5px;
  width: 118.51px;
  height: 42.8px;
}

#table-user #button-aksi-hapus {
  background-color: #c38e91;
  color: white;
  margin: 5px;
  width: 118.51px;
  height: 42.8px;
}
.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.pagination button {
  background-color: #c9dbb2;
  font-size: larger;
}
.pagination button:hover {
  background-color: #8ec3b0;
  cursor: pointer;
}

#table-user #button-aksi-hapus:hover {
  background-color: #905155;
  color: white;
  cursor: pointer;
}

a h3{
  color: #000000;
}
