:root {
  margin: 0;
  padding: 0;
}

body {
  /* height: 1000px; */
  background-image: url('../images/Background-SignInSignUp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* align-items: center; */
  margin-top: 100px;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
}

.signin-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 80px;
  background-color: #8ec3b0;
  text-align: center;
  color: #404258;
  border-radius: 15px 15px 0px 0px;
}

.signin-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  height: 480px;
  background-color: #bcead5;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  padding-top: 20px;
}

.kotak {
  border: 1px solid black;
  margin: 5px 20px;
  width: 450px;
  border-radius: 10px;
}

input {
  width: 400px;
  height: 50px;
  margin: 20px 0px;
  border-radius: 7px;
  padding: 5px;
  font-size: medium;
}

.tombol {
  background-color: #404258;
  color: #ffffff;
  font-weight: bold;
}

.tombol:hover {
  background-color: #1e1f26;
  border-width: 0px;
  cursor: pointer;
}

input .tombol:hover {
  background-color: #1e1f26;
  border-width: 0px;
  cursor: pointer;
}
a {
  color: rgb(0, 8, 255);
  text-decoration: none;
}
.kotak p a:hover {
  color: rgb(14, 14, 100);
}
